<div class="vct-support-card">
  <div class="vct-support-card__content">
    <span class="vct-support-card__eyebrow">Persoonlijke hulp</span>
    <h3>Twijfel je nog? Wij kijken met je mee.</h3>
    <p>Ons team helpt je snel via mail of telefoon, zodat je zeker weet dat je de juiste keuze maakt.</p>
    <a href="/pages/contact" class="vct-support-card__button">Neem contact op</a>
  </div>
  <div class="vct-support-card__media">
    <img
      src="https://cdn.shopify.com/s/files/1/0871/5904/6480/files/mel_en_lindsey.png?v=1764800628"
      alt="VCTparts klantenservice"
      width="310"
      height="280"
      loading="lazy"
    >
  </div>
</div>
