<a
  href="https://www.feedbackcompany.com/nl-nl/reviews/vctparts"
  target="_blank"
  rel="noopener"
  class="vct-feedback-bar"
>
  <span class="vct-feedback-bar__brand">
    <img
      src="https://cdn.shopify.com/s/files/1/0871/5904/6480/files/icon_feedback.svg?v=1772820837"
      alt="Feedback Company"
      width="20"
      height="20"
      loading="lazy"
    >
    <span>Feedback Company</span>
  </span>
  <span class="vct-feedback-bar__score">4.7/5</span>
  <span class="vct-feedback-bar__stars" aria-hidden="true">★★★★<span>★</span></span>
  <span class="vct-feedback-bar__copy">Na <strong>15.000+</strong> klanten</span>
  <span class="vct-feedback-bar__copy"><strong>93%</strong> beveelt ons aan</span>
</a>
